#h3{
    color: #e76f51;
}
#piscine{
    margin-top: 10px;
    margin-bottom: 10px;
}
#tennis{
    margin-top: 10px;
    margin-bottom: 10px;
}
#ping_pong{
    margin-top: 10px;
    margin-bottom: 10px;
}
#petanque{
    margin-top: 10px;
    margin-bottom: 10px;
}
#vtt{
    margin-top: 10px;
    margin-bottom: 10px;
}
#activites{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #f0f2f2;
}
#text{
    text-align: center;
}